<h1>Questions#index</h1>

<ul>
  <% @questions.each do |question| %>
    <li>
      <p><%= question.title %></p>
      <p><%= question.content %></p>
    </li>
  <% end %>
</ul>


<p>New Question:</p>
<%= render 'question_form' %>
